@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200&display=swap');

body{
    background: linear-gradient(90deg, rgba(5,0,0,1) 0%, rgba(85,10,3,1) 50%, rgba(5,0,0,1) 100%);
}

#description{
    padding: 10%;
}

#person{
    display: inline-block;
}

a{
    text-decoration: none;
}

.person-section{
    position: relative;
}

@media screen and (min-width: 550px) {
    #tobias {
        object-fit: cover;
        background-repeat: no-repeat;
        background-size: contain;
        border-radius: 50% 50%;
    }
    #tobias img {
        width: 100%;
    }
    /*TODO fix text*/
    #text {
        font-family: "Montserrat", serif;
        color: white;
    }

    #socials{
        margin: auto;
        padding: 10px;
        position: relative;
    }

    .white{
        color: white;
        padding: 10px;
        position:relative;
        top:50%;
        left:50%;
        transform:translate(-50%,-50%)
    }
}
/* on Mobile */
@media screen and (max-width: 550px) {
    #tobias {
        object-fit: cover;
        width: 100%;
        height: auto;
        background-repeat: no-repeat;
        background-size: contain;
        border-radius: 50% 50%;
    }
    #tobias img {
        width: 100%;
    }
    #text {
        padding-top: 50px;
        font-family: "Montserrat", serif;
        color: white;
        position: relative;
        text-align: center;
    }

    #socials{
        height: 100px;
        margin-top: -50px;
        position: fixed;
        bottom:0;
        width: 100%;
        z-index: 1;
        text-align:center;
    }

    .white {
        color: white;
        padding: 10px;
        position: static;
        top:50%;
        left:50%;
        transform:translate(-50%,-50%)
    }
}

